<div class="popups">
	<div class="modal hide b-advanced-search-content g-ui-user-select-none" data-bind="modal: modalVisibility">
		<div class="modal-header">
			<button type="button" class="close" data-bind="command: cancelCommand">&times;</button>
			<h3>
				<span class="i18n" data-i18n="SEARCH/TITLE_ADV"></span>
			</h3>
		</div>
		<div class="modal-body">
			<br />
			<form class="form-horizontal" action="#/" autocomplete="off" onsubmit="return false;" data-bind="command: searchCommand">
				abc
			</form>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn buttonAdvSearch" data-bind="command: searchCommand">
				<i class="icon-search"></i>
				&nbsp;&nbsp;
				<span class="i18n" data-i18n="SEARCH/BUTTON_ADV_SEARCH"></span>
			</a>
		</div>
	</div>
</div>